
  .carousel-item {
    height: 42rem;
  }

  .carousel-item > img {
    height: 50rem;
  }


  .carousel{
    position: relative;
    left: 50%;
    right: 50%;
    margin-top: -20px;;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

  .carousel-control-next {
    display: none;
}

  .carousel-control-prev {
    display: none;
}

.marketing {
  height: auto;
  margin-bottom: 0;
  padding-top: 10
}

.marketing .col-lg-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    padding-top: .5rem;
  }

  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    padding-top: .5rem;
  }

  .btn.btn-secondary {
    background-color: #ffffff;
    color: #1d6d95;
    font-size: 1.2rem;
  }

.btn:first-child:active {
    background-color: #283f66;
}


@media only screen and (max-width: 991px) {
  img {
    height: 155px;
    width: 155px;
  }

  .btn.btn-secondary {
    font-size: 1rem;
  }

  .container .marketing{
    background-color: #ffffff;
    background-image: url("/public/images/logo.png");
    background-size: 20%;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    padding-top: 0rem !important;
  }

  .carousel-inner {
    background-color: #ffffff;
  }

  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .btn.btn-secondary {
    background-color: #1d6d95;
    color: #ffffff;
  }

  .btn:first-child:active {
    background-color: #34724c;
  }

  .d-block {
    display: none !important;
  }
}