.footer {
    bottom: 0;
    height: 240px;
    padding-top:10px;
    position: relative;
    text-align: center;
    width: 100%;
    border-top: 1px solid whitesmoke;
    color: #FFFFFF;
    background-color: #008080;
}

@media only screen and (max-width: 991px) {
  .footer {
    position: relative;
    bottom: 0;
  }
}