
#nav {
    position: fixed;
    top: 10%;
    z-index: 10;
    width: 100%;
    background-color:#008080 !important;
}

.bg-light {
    background-color: white;
}

span {
    color: rgb(212, 206, 206);
}

span:hover {
    color: whitesmoke;
}

.container-fluid {
    align-items: center;
    margin-left: 50px;
}

.categorylist > .dropdown-item {
    color: #008080;
}
.nav-item {
    margin: 5px;
    width: auto;
    text-align: center;
    margin-left: 15px;
}

.nav-item #theme-icon {
    color: whitesmoke;
    position: absolute;
    right: 4%;
    margin-top: 12px;
}

#theme-icon:hover {
    color: black;
}

.nav-cart {
    margin-top: 5px;
}

.dropdown-menu span {
    color:#008080;
}

.dropdown-menu span:hover {
    color: orange;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    background-color: white;;
}

.dropdown-menu {
    box-shadow: none;
    color:#008080 !important;
}

.dropdown-menu a {
    text-align: left;
}

.dropdown-menu.login {
    margin: 5px;
}

/* search icon */
.input-group-text {
    background-color: white;
    margin-top: 7px;
}

.login-form, .login-form span{

    display:flex;
    margin-top: 4px;
}

.login-field {
    border-radius: 2px;
    width: 100px;
    border: none;
    margin: 2px;
}

.login-btn {
     margin-left: 2px;
    background: none;
    color: grey;
    border: none;
    text-decoration: underline;

}

.login-btn:hover {
    color: whitesmoke;
}

.dropdown-menu.sub-categories {
    list-style: none;
    background-color:whitesmoke;
    line-height: 1;
    padding-right: 0;
    padding-left: 5px;
    position:relative !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-size: 16px;
    color: #1d6d95 !important;
}

.search-form {
    display: flex;
    width: auto;
    height: 25px;
    padding-left: 10px;
    margin-top: 8px;
}

.search-btn {
    background-color: transparent;
    border: none;
}

.form-control {
    border-radius: 2px;
    transition: none;
}

@media only screen and (max-width: 1300px) {
    .nav-item {
        font-size: 1.22vw;
        letter-spacing: normal;
    }
}


@media only screen and (max-width: 991px) {
    .container-fluid {
        margin-left: 0;
    }
    .nav-item{
        font-size: 15px;
        text-align: left;
    }
    .nav-item #theme-icon {
        left: 5%;
        bottom: 4%;
    }
    .dropdown-menu li {
        text-align: left;
        margin-left: 5px;
    }
    .beer-cat > span {
        margin-left: 5px;
    }
    
    #nav {
        border-bottom: 0.5px solid grey;
    }

    .nav-search {
        width: 90vw;
  }
}
