.footer {
    bottom: 0;
    height: 240px;
    margin-top: 10px;
    padding-top:10px;
    position: relative;
    text-align: center;
    width: 100%;
    color: grey;
    background-color: white;
}

@media only screen and (max-width: 991px) {
  .footer {
    position: relative;
    bottom: 0;
  }
}