
#nav {
    position: fixed;
    top: 10%;
    z-index: 10;
    width: 100%;

}

.bg-light {
    background-color: white !important;
}

span {
    color: #1d6d95;
}

span:hover {
    color: #1d6d95b3;
}

.container-fluid {
    align-items: center;
    margin-left: 50px;
}

.categorylist > .dropdown-item {
    color:#1d6d95 !important;
}
.nav-item {
    margin: 5px;
    width: 160px;
    text-align: center;
}

.nav-item #theme-icon {
    color: grey;
    position: absolute;
    right: 4%;
    margin-top: -5px;
}

#theme-icon:hover {
    color: black;
}

.nav-cart {
    margin-top: 5px;
}

.nav-search {
    width: 200px;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    background-color: white;;
}


.form-control {
    padding: 0;
    margin-top: 8px;
    text-align: center;
}

.dropdown-menu {
    box-shadow: none;
    background-color: rgb(255, 252, 252);
}

.dropdown-menu li {
    text-align: left;
}

.dropdown-menu.login {
    margin: 5px;
}

/* search icon */
.input-group-text {
    background-color: white;
    margin-top: 7px;
}

.loginform input {
    border: 1px solid grey;
    margin: 2px;
}

.login-btn {
    border-radius: 5px;
    border: 1px solid grey;
    color: grey;
    margin: 2px;
}

.dropdown-menu.sub-categories {
    list-style: none;
    background-color:whitesmoke;
    line-height: 1;
    padding-right: 0;
    padding-left: 5px;
    position:relative !important;
    letter-spacing: 2px;
    border-radius: 0;
    font-size: 16px;
    color: #1d6d95 !important;
}



@media only screen and (max-width: 1200px) {
 /*     .dropdown-menu.login input::placeholder {
        size: 1.15vw;
    } */
/*     .nav-item {
        text-align: left;
    }
    

     */
}


@media only screen and (max-width: 991px) {
    .container-fluid {
        margin-left: 0;
    }
    .nav-item{
        font-size: 15px;
        text-align: left;
    }
    .nav-item #theme-icon {
        left: 5%;
        bottom: 5%;
    }
    .dropdown-menu li {
        text-align: left;
        margin-left: 5px;
    }
    .beer-cat > span {
        margin-left: 5px;
    }
    
    #nav {
        box-shadow: 0px 0px 5px 0px;
    }

    .nav-search {
        width: 90vw;
  }
}
