
.bg-light {
    background-color: white !important;
}


.container-fluid {
    align-items: center;
    margin-left: 50px;
}


.nav-item {
    margin: 5px;
}

.nav-item #theme-icon {
    color: grey;
}

#theme-icon:hover {
    color: black;
}


.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    background-color: white;;
}

.form-control {
    padding: 0;
    margin-top: 8px;
    text-align: center;
}

.dropdown-menu {
    box-shadow: none;
    background-color: rgb(255, 252, 252);
}

.dropdown-menu li {
    text-align: left;
}

.dropdown-menu.login {
    margin: 5px;
}

.loginform input {
    border: 1px solid grey;
    margin: 2px;

    
}

.login-btn {
    border-radius: 5px;
    border: 1px solid grey;
    color: grey;
    margin: 2px;
}

@media only screen and (max-width: 1200px) {
    .nav-item {
        font-size: 1.15vw;
    }

    .dropdown-menu.login input::placeholder {
        size: 1.15vw;
    }
    
}


@media only screen and (max-width: 991px) {
    .container-fluid {
        margin-left: 0;
    }
    .nav-item{
        font-size: 15px;
    }
    .dropdown-menu li {
        text-align: left;
        margin-left: 5px;
    }
    
    
  }