html {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: auto !important;
  position: relative;
  margin-top: 170px;

}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background-color:#008080;
}

img.logo {
  position: fixed;
  top: 0;
  width: 10%;
  height: 100px;

}

.headerH1, .headerP{
  text-align: center;
}

.info-col {
  margin: 10px 0px 10px 0px;
}

.category-container {
  height: auto !important;
  position: relative;
}

.category-col {
  text-align: center;
  height: 200px;
  
}

.categorylist > .dropdown-item:hover {
  color: grey;
}
.categorylist > .dropdown-item:active {
  color: grey;
}

.empty-cart-btn {
  background-color: grey;
  position: absolute;
  right: 10%;
}

#theme-btn {
  border: none;
  background-color: white;
  margin-top: 7px;
}

.add-cart-btn { 
  position: absolute;
  bottom:0;
  border: none;
  width:100%;
  height: 40px;
  left: 0;
  color:black;
  background-color: #008080;
  font-size: 20px;
  border: 2px 2px 2px 2px solid rgb(43, 43, 43);
  box-shadow: 0px 0px 2px 0px;
}

.add-cart-btn:hover {
  color: white;
}

.product-card {
  height: 300px;
  width: 250px;
  border:1px solid rgb(59, 118, 143);
  border-radius: 5px;
  margin: 5px;
  text-align: left;
  position: relative;
  overflow: hidden;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(186, 186, 186);
  padding: 0;
  transition: transform .2s;
}

.product-card:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 5px grey;
}

.product-card:hover > .product-details {
  visibility: visible;
  background-color:rgba(110, 154, 173, 0.95);

}


.product-card span{
  font-size: 25px;
}

.product-card-header {
  text-align: center;
  color: black;
  background-color:#008080;
  position: absolute;
  height: 40px;
  top: 0;
  width: 100%;
  left: 0;
}

.product-details {
  margin-top:40px;
  height: 80%;
  width: 100%;
  position: absolute;
  left:0;
  visibility: hidden;
  padding: 50px;
}

.product-details span {
  color: rgb(43, 43, 43);
  font-size: 20px;
}

.order-container {
  min-height: 550px;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: whitesmoke;
}

.products-container {
  width: auto;
  margin: 10px;
}

.productpage-item {
  text-align: center;
  margin: 10px;
}

.product-page-container {
  width: 100%;
  min-height: 600px;
  margin-top: 20px;
}

.productspage {
  min-height: 600px;
}

.productspage h2 {
  position: relative;
}

.sidenav {
  border-right: 1px solid black;
  height: 100%;
  color: #1d6d95;
  font-size: 20px;
  line-height: 40px;
}

.sidenav ul {
  list-style: none;
  position: absolute;
  left: 0;
}

.sidenav>.categorylist:hover {
  color: #1d6d95b3;
}


@media only screen and (max-width: 991px) {
  .sidenav {
    display:flex;
    border-bottom: 1px solid black;
    border-right: none;
  }
  .product-card {
    width: 220px;
}
.sidenav ul {
  position: relative;
}

img.logo {
  width: 15%;
  height: 90px;

}

.headerH1{
  font-size: 25px;
}

.headerP{
  font-size: 15px;
}

}

@media only screen and (max-width: 555px) {
  .product-card {
    width: 100%;
  }
  .add-cart-btn{
    height: 60px;
    border: none;
    box-shadow: 0px 0px 5px 0px;
  }

  img.logo {
    width: 20%;
    height: 90px;
  
  }
  .product-details {
    margin-top: 40px;
    height: 210px;
    width: 100
  }
  .headerH1{
    font-size: 18px;
  }
  
  .headerP{
    font-size: 12px;
  }
}